.search {
  margin-top: 70px;
  margin-left: 15px;
  width: 30%;
  max-width: 30%;
}

.input {
  font-size: 22px;
  border: 2px solid #586adf;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  height: 40px;
  width: 90%;
}

.input::placeholder {
  text-align: center;
}

.btn {
  width: 90%;
  padding: 2px;
  border: 1px solid #586adf;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .input::placeholder {
    color: #fff;
  }
}