header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  width: 100%;
  background: #586adf;
  box-sizing: border-box;
}

.logo {
  padding-top: 5px;
  height: 40px;
  width: 170px;
}

.navBar {
  float: right;
}

.navBar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navBar ul li {
  list-style: none;
}

.navBar ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.navBar ul li a:hover {
  background: #262e64;
  border-radius: 10px;
}

.menuToggle {
  float: right;
  width: 20px;
  line-height: 50px;
  cursor: pointer;
  display: block;
  margin-right: 5px;
  margin-top: 14px;
  display: none;
}

@media (max-width: 1080px) {

  header {
    padding: 0 20px;
    height: 50px;
  }

  .menuToggle {
    display: block;
  }

  .navBar {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }

  .navBar ul {
    display: block;
    text-align: center;
  }

  .navBar ul li a {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
}