.search {
  margin: 70px 3% 0 24%;
}

.input {
  text-align: center;
  font-size: 22px;
  border-radius: 30px;
  padding-left: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid black;
  background-color: rgb(163, 163, 163);
  opacity: .8;
  outline: none;
}

.input::placeholder {
  text-align: center;
}

.tipWrapper {
  margin-top: 10px;
}

.tip {
  width: 100%;
  padding: 2px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgb(49, 49, 49);
}

.tip:hover {
  background-color: rgb(163, 163, 163);
  opacity: .8;
}

@media (max-width: 768px) {
  .input::placeholder {
    color: #fff;
  }
}